#kalender_container{
    float:left;
    padding  10px;
    width:  500px;
    height: 450px;
   /* margin-left: 25%;*/
    margin-right: auto;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 15px;
    font-family : "Trebuchet MS", Helvita, sans-serif;
    background-image: linear-gradient(#fff,#d3d3d3);
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
}
#kalender_container>div{
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#kalender_kopf_inhalt{
    margin-top: 20px;
    font-size: 20px;
}
#kalender_bauch>table{
    width: 400;
     margin-left: auto;
    margin-right: auto;
}
#kalender_bauch>table>tr>td{
    padding: 23px;
}


.normal { background-color: initial; }
.spezial { background-color:#A4A4A4; cursor:pointer; }


p{
    font-family: "Trebuchet MS", Helvita, sans-serif;
    padding: 10px 0;
    margin: 0;
    color: black;
    text-align: center;
}

.calendar-day{
    font-size: 20px;
}

.calendar-month-year{
    font-size: 20px;
}

.calendar-date{
    font-size: 64px;
    padding-top: 10px;
    padding-bottom: 0;
}

.calendar-eventtext{
    font-size: 15px;
    margin-top: 50px;
}

#calendar3{
    float: inherit;
     width: 130px;
    height: 450px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
    display: inline-block;
    margin: 0  20px;
    background-image: linear-gradient(#fff,#d3d3d3);
}

#navi{
    float: left;
    width: 15%;
    height: 450px;
	margin-left: 25%;
	margin-right: auto;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
    display: inline-block;
    margin: 0  20px;
    background-image: linear-gradient(#fff,#d3d3d3);
}

